@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.submenu-box {
  position: relative;

  .item-wrap {
    .item-header {
      background-color: #fff;
      transition: all 0.2s linear;
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      position: relative;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

      i {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #4e5262;
        transition: all 0.2s linear;
      }

      span {
        color: #4e5262;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        transition: all 0.2s linear;
      }
      &:hover span {
        font-weight: bold;
      }
    }

    .item-right {
      position: absolute;
      left: 100%;
      top: 0;
      width: 120%;
      background-color: white;
      transition: all 0.2s linear;
      transform: rotateY(90deg);
      transform-origin: left;
      height: auto;
      z-index: 2;

      @media all and (max-width: 1200px) {
        width: 150%;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 10px;

        li {
          word-wrap: none;
          word-break: none;
          color: #4e5262;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .item-right {
      transform: rotateY(0deg);
    }

    &:hover .item-header > i {
      transform: rotateZ(180deg);
    }

    &:hover .item-header {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .item-wrap2 {
    width: 100%;
    .item-header2 {
      background-color: #fff;
      transition: all 0.2s linear;
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      position: relative;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

      a {
        padding-left: 5px;
        padding-top: 5px;
        color: #7e7e7e;
        transition: all 0.1s ease-in-out;
      }
      p {
        &:hover {
          a {
            color: #4d4d4d;
          }
        }
      }
      i {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #4e5262;
        transition: all 0.2s linear;
      }

      span {
        color: #4e5262;
      }
    }

    .item-right2 {
      position: absolute;
      left: 100%;
      border: 1px solid #ccc;
      top: 0;
      background-color: white;
      transition: all 0.2s linear;
      transform: rotateY(90deg);
      transform-origin: left;
      height: auto;
      z-index: 2;

      ul {
        list-style: none;
        padding: 0;
        margin: 0 10px;

        li {
          word-wrap: none;
          word-break: none;
          color: #4e5262;
        }
      }
    }

    .dwiuhdgauibwjwea {
      min-width: 60%;
      width: auto;
      padding: 5px;
      p {
        margin: 0;
        margin-bottom: 5px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .item-right2 {
      transform: rotateY(0deg);
    }

    &:hover .item-header2 i {
      transform: rotateZ(180deg);
    }

    &:hover .item-header2 {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
