.cart-page-one-1 {
  width: 100%;

  * {
    font-family: 'Open Sans', sans-serif;
  }

  .my-cart-container {
    max-width: 953px;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 22px;

    .product-menu {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      margin-bottom: 13px;
      border-bottom: 1px solid #dcdcdc;

      div {
        padding-left: 15px;
        color: #acacac;
        font-size: 12px;
        text-align: start;
        padding-bottom: 7px;
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          display: none;
        }
      }
    }
    .my-buuton-dcsd {
      width: 60%;
      font-size: 11px;
      font-weight: 700;
      height: auto !important;
      text-transform: lowercase;
      text-align: center;
      word-wrap: none;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 15px;
    }

    .product-one-list {
      width: 100%;
    
      .bg-color-bz {
        background-color: rgb(26, 241, 26);
        
        padding: 4px 20px;
        border-radius: 10px;
        color: #fff !important;
        font-weight: 500 !important;
        
      }

      .a-none {
        font-weight: 600;
        font-size: 12px;
        display: none;
      }

      .b-none {
        font-size: 12px;
        font-weight: 600;
      }

      .product-delete {
        cursor: pointer;
        color: #ff4e30;
        font-size: 15px;

        i {
          transition: text-shadow 0.2s ease-in-out;
        }

        p {
          background-color: #f2f2f2;
          border-radius: 20px;
          padding: 3px 10px;
        }
      }

      .delete {
        display: flex;
        justify-content: flex-end;

        & > div {
          width: 100%;
          background-color: #eb323f;
          font-size: 12px;
          color: #fff;
          text-align: center;
          border-radius: 10px;
          width: 20%;
          padding: 1px 0;
          cursor: pointer;
        }
      }

      & > div:nth-child(1) {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;

        .my-count-product {
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          text-align: center;
          border: 1px solid #dcdcdc;
          border-radius: 20px;
          color: #dcdcdc;
          font-size: 10px;
          font-weight: 500;
          // max-width: 98px;
          width: 98px;

          div {
            cursor: pointer;

            &:nth-child(1) {
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            }

            &:nth-child(1):active {
              background-color: #3366fe;
            }

            &:nth-child(3) {
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            }

            &:nth-child(3):active {
              background-color: #3366fe;
            }
          }
        }

        .ma-txt {
          font-size: 13px;
          font-weight: bold;
          color: #4e5262;
        }

        & > div {
          width: 100%;
          padding: 12px 0;
        }

        img {
          width: 96px;
          height: 96px;
          border-radius: 10px;
        }

        h4 {
          color: #1a2138;
          font-size: 19px;
          font-weight: bold;
          margin: 0;
        }

        p {
          font-size: 13px;
          font-weight: bold;
          color: #4e5262;
          margin: 0;
        }
      }
    }
  }

  .my-cart-container .product-one-list > div:nth-child(1) p {
    color: rgba(0, 0, 0, 0.582) !important;
    font-size: 11px;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif;
  }

  .my-cart-container .product-one-list > div:nth-child(1) h4 {
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
    text-align: start;

    div {
      margin-top: 2px;

      * {
        outline: none;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    
    .product-one-list {
      h4 {
        font-size: 10px !important;
      }
    }


    .my-cart-container .product-one-list > div:nth-child(1) {
      
      button {
        font-size: 10px;
        width: 100%;
      }
    }

    .my-cart-container .product-one-list > div:nth-child(1) p {
      font-size: 8px !important;
      width: 100% !important;
    }

    .my-cart-container .product-one-list > div:nth-child(1) .my-count-product {
      width: 50px !important;
    }

    .my-cart-container
      .product-one-list
      > div:nth-child(1)
      .my-count-product
      div:nth-child(1) {
      font-size: 10px;
      padding-left: 2px;
    }

    .my-cart-container
      .product-one-list
      > div:nth-child(1)
      .my-count-product
      div:nth-child(3) {
      font-size: 10px;
      padding-right: 2px;
    }
  }
  .wduadniuwh-center {
    text-align: start;
  }

  @media only screen and (max-width: 768px) {
    
    .wduadniuwh-center {
      text-align: center;
    }
    .my-cart-container .product-menu {
      grid-template-columns: 2fr 1fr;
      
    }
    .my-cart-container .product-one-list > div:nth-child(1) button {
      width: 100%;
    }
    .my-cart-container .product-one-list > div:nth-child(1) h4 {
      font-size: 14px;
    }

    .my-cart-container .product-one-list > div:nth-child(1) img {
      width: 50px;
      height: 50px;
    }

    .my-cart-container .product-one-list > div:nth-child(1) p {
      font-size: 12px;
      padding: 3px 7px;
      font-size: 8px;
      width: 60%;
      p {
        width: 100%;
        text-align: center;
      }
    }

    .my-cart-container .product-one-list > div:nth-child(1) {
      grid-template-columns: 2fr 1fr;
      button {
        padding: 3px 7px;
        margin: 0;
        font-size: 9px !important;
      }
    }

    .product-one-list {
      & > div:nth-child(1) p {
        font-size: 12px;
      }

      font-size: 12px;

      .ma-txt {
        font-size: 12px;
      }

      .a-none {
        margin-top: 12px;
        font-size: 9px !important;
        display: block !important;
      }

      .b-none {
        display: none !important;
      }
    }
  }
}

.container .fade {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
}
