.my-button-adwawdoi {
  border: none;
  background-color: rgb(66, 133, 244);
  color: #fff;
  border-radius: 5px;
  padding: 3px 15px;
  &:hover {
    background-color: rgb(51, 102, 254);
  }
}

.error-messageffff {
  p {
    color: red;
  }
}
