.adwuidhoaw-search {
    .search-form {
        display: grid;
        grid-template-columns: 7fr 1fr;
        height: 100%;
        
        box-sizing: border-box;
        padding: 0;
        border-radius: 3px;
    
        width: 100%;
        * {
            box-sizing: border-box;
        }
    
        input {
            width: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            height: 100%;
            padding: 5px 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: 1.3px solid #3366FE;
            border-right: none;
        }
    
        .right-box {
            display: flex;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            width: 100%;
            height: 100%;
            button {
                width: 100%;
                height: 100%;
                border: none;
                box-shadow: none;
                outline: none;
                background-color: rgba(51, 102, 254, 1);
                margin: 0 !important;
                box-sizing: border-box;
                padding: 5px 15px;
                color: white;
                
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
}