.other-page-nav {
  display: flex;
  justify-content: space-between;
  // background-color: orange;
  padding: 10px 0;

  .left-box-nav {
    position: relative;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-weight: bolder;
        font-size: 14px;
        position: relative;

        div.dropdown-under {
          display: none;
          margin-top: 5px;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 16px 34px -14px rgba(0, 0, 0, 0.15);
          border-radius: 0px 0px 5px 5px;
          z-index: 1;

          div.dropdown-under-item {
            border-bottom: 1px solid #dbe3ff;
            background-color: #fff;
            padding: 5px 10px;
            width: 100%;
            height: 100%;
          }
        }

        svg {
          margin-right: 5px;
        }
      }

      li:first-child {
        margin-right: 50px;
        // background-color: red;
      }
      .cat-ar {
        & > div:nth-child(1) {
          padding: 5px 8px;
          border-radius: 5px;
        }
        display: grid;
        grid-template-columns: 1fr;
        cursor: pointer;
      }

      li:not(.cat-ar) {
        svg {
          margin-left: 5px;
        }
      }
    }

    @media all and (max-width: 768px) {
      display: none;
    }
  }

  .right-box-nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-weight: bolder;
        font-size: 14px;

        svg {
          margin-left: 5px;
        }
      }
    }
  }
}

.submenu-box-other {
  position: absolute;
  height: 0;
  top: 32px;
  left: 0;
  background-color: #ccc;
  z-index: 99;
  overflow: hidden;

  .item-wrap {
    min-width: 200px;
    width: auto;
    .item-header {
      background-color: #fff;
      transition: all 0.2s linear;
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      position: relative;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

      i {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #4e5262;
        transition: all 0.2s linear;
      }

      span {
        color: #4e5262;
      }
    }

    .item-right {
      position: absolute;
      left: 100%;
      top: 0;
      width: 100%;
      background-color: white;
      transition: all 0.2s linear;
      transform: rotateY(90deg);
      transform-origin: left;
      height: auto;
      z-index: 2;

      @media all and (max-width: 1200px) {
        width: 100%;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 10px;

        li {
          word-wrap: none;
          word-break: none;
          color: #4e5262;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .item-right {
      transform: rotateY(0deg);
    }

    &:hover .item-header > i {
      transform: rotateZ(180deg);
    }

    &:hover .item-header {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .item-wrap2 {
    width: 100%;

    .item-header2 {
      background-color: #fff;
      transition: all 0.2s linear;
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      position: relative;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

      i {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #4e5262;
        transition: all 0.2s linear;
      }

      span {
        color: #4e5262;
      }
    }

    .item-right2 {
      position: absolute;
      top: 0;
      left: 100%;
      border: 1px solid #ccc;
      width: 100%;
      background-color: white;
      transition: all 0.2s linear;
      transform: rotateY(90deg);
      transform-origin: left;
      height: auto;
      padding: 5px;
      z-index: 2;

      @media all and (max-width: 1200px) {
        width: 100%;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 10px;

        li {
          word-wrap: none;
          word-break: none;
          color: #4e5262;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .item-right2 {
      transform: rotateY(0deg);
    }

    &:hover .item-header2 i {
      transform: rotateZ(180deg);
    }

    &:hover .item-header2 {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.cat-ar:hover {
  background-color: #ffbf007c;
}

.cat-ar:hover .submenu-box-other {
  height: auto;
  overflow: unset;
}
