.my-dashboard-page-one {
  width: 100%;

  * {
    font-family: Montserrat;
  }

  .my-dashboard-page-one-container {
    width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 26px 33px;

    & > h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      color: #1a2138;
      margin: 0;
    }

    .content-ditalis {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      padding: 36px 0;

      .content-ditalis-one {
        .content-ditalis-one-left {
          padding-left: 12px;
        }

        & > h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          padding-bottom: 54px;
        }

        .submit-cl {
          &:nth-child(1) div:nth-child(2) {
            padding-top: 0;
          }

          & > div {
            &:nth-child(1) {
              border-left: 6px solid #f1f1f1;
              position: relative;

              .bef {
                position: absolute;
                top: 0;
                left: -15px;
                width: 27px;
                height: 27px;
                display: block;
                border: 3px solid #4e5262;
                border-radius: 50%;
                background-color: #fff;
              }

              .def {
                position: absolute;
                top: 0;
                left: -15px;
                width: 27px;
                height: 27px;
                display: block;
                border: 2px solid #4e5262;
                border-radius: 50%;
                transition: transform 0.5s ease-in-out;
                animation-name: animate;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                display: none;
              }

              .bef-block {
                background-color: #4e5262;
              }

              .def-block {
                display: block;
              }

              @keyframes animate {
                0% {
                  opacity: 0;
                }

                50% {
                  opacity: 1;
                }

                100% {
                  transform: scale(2);
                  opacity: 0;
                }
              }
            }

            &:nth-child(2) {
              padding-bottom: 55px;
            }
          }

          display: grid;
          grid-template-columns: 1fr 6fr;

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
          }

          p {
            margin: 0;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #4e5262;
          }
        }
      }

      .content-ditalis-two {
        width: 350px;
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
        }

        .content-ditalis-one-right {
          width: 100%;
          img {
            width: 100%;
            margin-top: 17px;
            margin-bottom: 20px;
            // box-shadow: 0px 24px 52px -40px rgba(0, 1, 4, 0.46);
            border-radius: 10px;
          }

          h2 {
            color: #000;
            line-height: 30px;
            font-size: 23px;
            font-style: normal;
            font-weight: bold;

            span {
              color: #4e5262;
              font-weight: 500;
              font-size: 15px;
            }
          }

          p {
            padding-top: 8px;
            color: #4e5262;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
          }

          .fot-size-color {
            color: #4e5262;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: grid;
            grid-template-columns: 1fr 2fr;

            .fot-size {
              display: grid;
              grid-template-columns: 1fr 1fr;
              align-items: center;

              div {
                &:nth-child(2) {
                  color: #b6b5b5;
                  border: 1px solid #b6b5b5;
                  font-size: 12px;
                  padding: 0;
                  margin: 0;
                  width: 24px;
                  height: 21px;
                  text-align: center;
                  border-radius: 2px;
                }
              }
            }

            .fot-color {
              display: grid;
              grid-template-columns: 1fr 1fr;
              align-items: center;

              div {
                &:nth-child(2) {
                  width: 28px;
                  height: 28px;
                  border: 1px solid #b6b5b5;
                  border-radius: 50%;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    .dashboard-page-one-box {
      &::-webkit-scrollbar {
        width: 5px;
        height: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #fec826;
        border-radius: 5px;
        transition: all 0.2s linear;
      }

      /* Handle on hover */

      overflow: auto;
      // width: 500px;
      padding: 15px 0;
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: repeat(6, 1fr);

      p {
        margin: 0;
      }

      .dashboard-box {
        * {
          font-family: Oswald;
        }

        padding: 16px 0;
        width: 100px;
        height: 108px;
        background: linear-gradient(180deg, #4a67ff 0%, #ca33ff 100%);
        border-radius: 6px;
        color: #fff;

        p {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          width: 100%;
          text-align: center;
        }

        div {
          width: 100%;
          text-align: center;
          font-style: normal;
          font-weight: bold;
          font-size: 37px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .my-dashboard-page-one-container .content-ditalis {
      grid-template-columns: 1fr;
    }

    .my-dashboard-page-one-container .content-ditalis .content-ditalis-two h3 {
      margin-top: 23px;
    }

    .sfnoislm-dawkjwdnawd {
      max-width: 400px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 500px) {
    .sfnoislm-dawkjwdnawd {
      max-width: 300px;
      width: 100%;
    }
  }
}

.sfnoislm-dawkjwdnawd {
  max-width: 250px;
  width: 100%;
  * {
    outline: none !important;
  }
}
