.chat-img-asadwda {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.startgridmessage {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  // justify-items: center;
  & > div {
    padding: 10px 0;
  }

  // & > div:nth-child(1) {
  //   width: 100%;
  //   display: flex;
  //   justify-content: start;
  // }

  label {
    background-color: #ccc;
    padding: 7px 12px;
    &:hover {
      background-color: #17a2b8;
      cursor: pointer;
      color: #fff;
    }
  }

  input {
    display: none;
  }

  * {
    outline: none;
  }
}
.my-dwad-ad {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: end;
  align-items: flex-end;
  button {
    padding: 0 !important;
    width: 70%;
    height: 30px;
  }
}

.viewallaa {
  display: flex;
  span:hover {
    text-decoration: underline;
  }
}

.leftwieslddawdk {
  padding-right: 15px;
}

.boradwiondaw {
  i {
    transform: rotateX(180deg);
  }
}

.text-muted {
  max-width: 250px;
  div {
    width: 10%;
    display: flex;
  }
}

.none-dip-dawdadw {
  height: 0;
}

.friend-list-dawjdbawkdwq {
  img {
    margin-right: 15px;
  }
  overflow: hidden;
}

.friend-list-awdjonwkao {
  padding-left: 20px;
  a:last-child {
    margin-bottom: 15px;
  }
}
