.top-nav-one {
  box-shadow: 0px 1px 0px #dbe3ff;
  background-color: #fff;

  width: 100%;

  .container {
    .wrap-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 10px 0;

      .nav-one-left {
        p {
          padding: 0;
          margin: 0;
          font-size: 12px;
          color: orange;
        }

        @media all and (max-width: 1200px) {
          display: none;
        }
      }

      .nav-one-right {
        // background-color: red;
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .my-tel-adwdaw {
          color: #212529;
          font-weight: 600;
          &:hover {
            color: orange;
            font-weight: bold;
          }
        }

        li {
          margin-left: 20px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: 14px;

          svg {
            margin-right: 5px;
          }

          &:last-child {
            @media all and (max-width: 1200px) {
              display: none;
            }
          }

          @media all and (max-width: 1200px) {
            margin: 0;
          }
        }

        @media all and (max-width: 1200px) {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }
}

.modal {
  height: 100vh !important;
}

.modal-header {
  border: none !important;
}

.sign-box {
  transition: all 0.2s linear;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 20px;
  a {
    color: rgb(254, 200, 38);
  }
  &:hover {
    background-color: rgb(254, 200, 38);
    a {
      color: white;
    }
    cursor: pointer;
  }
}
