.mob-header-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  // background-color: red;

  .left-item {
    background-color: #3366fe;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4px 12px;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;

    i {
      color: white;
    }
  }

  .right-item {
    width: 100%;
    padding-left: 10px;
  }
}

.bg-shadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transition: all 0.2s linear;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  z-index: -100;
}

.side-bar {
  position: fixed;
  width: 290px;
  height: 100vh;
  left: -100%;
  top: 0;
  transition: all 0.3s linear;
  overflow-y: scroll;
  padding: 0;

  background-color: white;
  opacity: 0;
  z-index: -10;

  img {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .close-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .icon-box {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding-right: 5px;
      padding-top: 15px;

      i {
        color: #4c546d;
      }
    }
  }

  h2 {
    font-weight: bold;

    span {
      color: #3366fe;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 10px;
      font-weight: bolder;
      color: 4e5262;
      font-size: 14px;
    }
  }
}
