.my-accardion-content {
  @import url("https://fonts.googleapis.com/css?family=Raleway:200,400");

  * {
    // font-family: Arial, Helvetica, sans-serif;
  }
  body {
    font-family: "Raleway", sans-serif;
    font-size: 80%;
    margin: 2em;
  }
  @media (min-width: 620px) {
    body {
      font-size: 100%;
    }
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 2em;
  }

  button {
    color: #000;
    border: none;
    padding: 1em;
    margin-right: 0.5em;
    cursor: pointer;
  }
  button:hover {
    background-color: #59c3b3;
  }
  button:focus {
    outline: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  img {
    width: 30%;
    float: left;
    margin: 0 1em 0.5em 0;
  }

  pre {
    margin-top: 4em;
    background-color: #f9f9f9;
    padding: 1em;
    border: 1px solid #ddd;
  }

  /*** ACCORDION ***/
  .accordion > div {
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
  }
  /* Header */
  .accordion > div > div:first-of-type {
    padding: 1em;

    color: #000;
    text-transform: capitalize;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
  }
  .accordion > div > div:first-of-type:hover {
    // background-color: rgb(254, 200, 38);
    // background-color: rgba(255, 191, 0, 0.164);
  }

  /* Content */
  .accordion > div > div:last-of-type {
    background-color: #f9f9f9;
    margin: 0 0.5em;
  }

  /* Inner */
  .accordion .accordion-item {
    padding-left: 1em;
    opacity: 0;
    transition: opacity 300ms ease;
    overflow: auto;
  }
  .accordion > div.open .accordion-item {
    opacity: 1;
    transition: opacity 700ms ease;
  }
  .accordion img.accordion-item {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.my-hoverm-mobile .accordion > .open > div:nth-child(1) {
  // background-color: rgb(236, 236, 236);
  border-bottom: 3px solid rgb(255, 214, 91) !important;
  // font-weight: bold;

  p {
    padding: 7px 0;
  }
}
.accordion > div > div:last-of-type {
  margin-right: 0;
}
.my-accardion-content {
  p {
    padding: 12px 5px !important;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    &:hover {
      // background-color: rgba(255, 212, 85, 0.651);
      // background-color: rgba(255, 191, 0, 0.164);
    }
    a {
      color: #000;
    }
  }
}

.fa-chevron-down {
  width: 90%;
  text-align: end;
}

.my-accardion-content .accordion > div > div:last-of-type {
  margin-right: 0;

  // display: grid;
  // grid-template-rows: auto auto !important;
}

.my-accardion-content div,
p {
  font-family: "Montserrat", sans-serif !important;
}

.my-accardion-content .accordion > div p:last-of-type {
  border-bottom: none !important;
}

.my-grid-adkjdbanwl {
  display: grid;
  grid-template-columns: auto auto;
}

.my-bg-ayfdwvgaa > div > div:first-child {
  font-weight: 600 !important;
}
