.modal-open {
  position: relative;
  z-index: -7;
  #root {
    position: relative;
    z-index: -6;
    .Toastify{
      position: fixed;
      z-index: 1000;
    }
    & > div {
      z-index: -5;
      position: relative;
    }
    .main-box-app {
      position: relative;
      z-index: -4;
      & > div {
        z-index: -3;
        position: relative;
      }
      .home-page {
        position: relative;
        z-index: -2;
        .home-sec-three {
          position: relative;
          z-index: -1;
        }
      }
    }
  }
}

.main-box-app {
  margin-top: 140px;

  @media all and (max-width: 992px) {
    margin-top: 170px;
  }
}

* {
  &::selection {
    background-color: orange !important;
    color: white !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fec826;
  border-radius: 10px;
  transition: all 0.2s linear;
}
