.mylogin-contet {
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.login-wrap-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;

  .login-header-top {
    width: 100%;

    h3,
    p {
      text-align: center;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .wrap-box {
    .item-form-box {
      display: flex;

      background: #ffffff;
      /* --product/modifier */

      border: 1px solid #dcdcdc;
      box-sizing: border-box;
      border-radius: 30px;
      box-sizing: border-box;
      overflow: hidden;

      .icon-box {
        border-right: 1px solid #dcdcdc;
        height: 100%;
        padding: 8px 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        label {
          margin: 0;
          height: 100%;
        }
      }

      input {
        width: 100%;
        border: none !important;
        outline: none;
        padding: 8px 10px;
      }
    }
  }

  .login-submit {
    background: #fec826;
    border-radius: 30px;
    color: black;
    border: none;
    text-transform: uppercase;
    padding: 8px 10px;
    outline: none !important;
  }

  .forgot-psw {
    display: flex;
    justify-content: flex-end;

    a {
      color: #b6b5b5;
    }
  }

  .sign-up-box {
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #b6b5b5;

    a {
      padding-left: 5px;
    }
  }

  .sot-box {
    a {
      padding: 8px 10px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .left-box-sot {
      background-color: #ebeef4;
      width: 48%;
      color: blue;
      font-weight: bolder;
      font-size: 14px;

      svg {
        margin-right: 5px;
      }
    }

    .right-box-sot {
      background-color: #faecea;
      width: 48%;
      font-weight: bolder;
      font-size: 14px;
      color: red;

      svg {
        margin-right: 5px;
      }
    }
  }
}
